- Pilha de vetor ok
-Pilha alocação ok

- Fila de vetor  ok 
- Fila circular ñ
- Fila alocação ok

- Lista de vetor *
- Lista alocação 

- Arvore de vetor ñ
- Arvore generica ñ
- Arvore binaria

- Heap
